main {
  display: grid;
  text-align: center;
  /*
  grid-template-columns: 100%;
  grid-template-rows: 80px auto;
*/
}

@media (min-width: 800px) {
  .mostrecentarticle > img {
    max-width: 800px;
    min-width: 100px;
  }
}

.mostrecentarticle {
  min-height: 300px;
}

.olderarticles {
  min-width: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 80%;
  justify-content: center;
}

.oldarticle {
  max-width: 300px;
}

.oldarticle > img {
  max-width: 250px;
  min-width: 100px;
}

.authorinfo img {
  vertical-align: middle;
}

.authorpicture {
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
}
