@import 'header.css';
@import 'blogcards.css';
@import 'blogpost.css';
@import 'sidebar.css';
@import 'post.css';
@import 'footer.css';
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;500&display=swap');

/*
For the purposes of building and debugging only .debug {
  border: 2px solid red;
  background: #f8fa9d;
}
body {
  border: 2px solid blue;
}
@media (min-width: 800px) {
  body {
    border: 2px solid green;
  }
}
*/

/* Mobile CSS */
body {
  font-family: 'Spartan', sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px auto auto 40px;
  grid-template-areas:
    'hd'
    'main'
    'sd'
    'ft';
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 500px;
}

/* Desktop CSS */
@media only screen and (min-width: 800px) {
  body {
    display: grid;
    width: 100%;
    height: 1200px;
    grid-template-columns: 20% 1fr 70% 1fr;
    grid-template-rows: 80px 1fr 40px;
    grid-template-areas:
      'hd hd hd hd'
      'sd . main .'
      '. ft ft ft';
  }
}

/* set grid areas */

.homebutton {
  grid-area: hm;
}

header {
  grid-area: hd;
}

aside {
  grid-area: sd;
}
main {
  grid-area: main;
}
section {
  grid-area: sec;
}
article {
  grid-area: art;
}
footer {
  grid-area: ft;
}
